<mat-card>
  <h2>Spelregels</h2>

  <p>Er zijn bij een wedstrijd 5, 2 of 1 punt(en) te verdienen.</p>

  <p>
    5 punten: <br>
    Jouw pronostiek is volledig juist
  </p>

  <p>
    2 punten: <br>
    Jouw pronostiek is niet volledig juist maar je hebt de winnende ploeg correct en je hebt eveneens correct dat het met meerdere of slechts 1 doelpunt verschil was.<br>
    Bij een gelijkspel met doelpunten heb jij ook een gelijkspel met doelpunten maar niet het correcte aantal doelpunten.
  </p>

  <p>
    1 punt: <br>
    Jouw pronostiek is niet volledig juist maar je hebt wel de winnende ploeg correct.
    Bij een 0-0 is jouw pronostiek een gelijkspel met doelpunten en vice versa.
  </p>

  <p>
    <br>
    Een voorbeeld: <br><br>
    België - Rusland eindigt op 3-1.<br>
    Pronostiek: 3-1 (5 punten)<br>
    Pronostiek: 4-0, 3-0, 4-1, etc. (2 punten)<br>
    Pronostiek: 1-0, 2-1 etc. (1 punt)<br><br>

    België – Rusland eindigt op 2-2.<br>
    Pronostiek: 2-2 (5 punten)<br>
    Pronostiek: 1-1, 3-3, etc. (2 punten)<br>
    Pronostiek: 0-0 (1 punt)<br>
  </p>
  <hr>

  <p>
    Een pronostiek voor een wedstrijd kan ingevuld of gewijzigd worden zolang de desbetreffende wedstrijd nog niet begonnen is.
  </p>
  <hr>
  <p>
    Als er op het einde van het toernooi een ex aequo zou zijn, is de winnaar degene met het meeste aantal 5-punters,
    is dit ook gelijk dan wordt er gekeken naar het aantal 2-punters.
  </p>
</mat-card>
