@import '../variables';

h2 {
  color: $primary;
}

.admin-link {
  color: $accent;
}

mat-toolbar {
  position:fixed;
  z-index: 1000;
}

main {
  padding-top: 80px;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 12px;
  padding-bottom:30px;

  @media only screen and (min-width: 600px) {
    width:95%;
    margin:auto;
  }

  @media only screen and (min-width: 960px) {
    width:90%;
    margin:auto;
  }

  @media only screen and (min-width: 1350px) {
    width:1280px;
    margin:auto;
  }


}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 260px;
  }

}

mat-nav-list {
  a span {
    margin-left:6px;
    padding-top: 4px;
  }
}

.active {
  background-color: rgb(77, 75, 75);
}

