<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/admin/ploegen'" (click)="sidenav.toggle()"> Accounts </a>
      <a mat-list-item [routerLink]="'/admin/wedstrijden'" (click)="sidenav.toggle()"> Create Account </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxLayout fxLayoutAlign="center baseline" style="margin:0 2rem 0 1rem; ">
          <mat-icon style="font-size: 3rem;"  aria-hidden="false" aria-label="Example home icon">sports_soccer</mat-icon>
        </span>
        <span >EK 2021 Prono</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner>
  <h3 style="color:white;">Laden...</h3>
</ngx-spinner>


