<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div fxLayout="column">
      <h2 fxFlexAlign="center" fxFlexOffset="10px" *ngIf="user$ | async as user" >Hallo {{user.displayName}}</h2>
      <mat-nav-list>
        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a *ngIf="user$ | async" mat-list-item [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">
          <mat-icon matListIcon>home</mat-icon>
          <span>Home</span>
        </a>

        <a *ngIf="user$ | async" mat-list-item [routerLink]="'/prono'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">
          <mat-icon matListIcon>sports_soccer</mat-icon>
          <span>Mijn prono</span>
        </a>
        <a *ngIf="user$ | async" mat-list-item [routerLink]="'/prono/klassement'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">
          <mat-icon matListIcon>format_list_numbered</mat-icon>
          <span>Klassement</span>
        </a>
        <a *ngIf="(user$ | async)?.roles?.admin" mat-list-item [routerLink]="'/admin/ploegen'" routerLinkActive="active" (click)="sidenav.toggle()" class="admin-link">
          <mat-icon matListIcon>view_list</mat-icon>
          <span>Ploegen</span>
        </a>
        <a *ngIf="(user$ | async)?.roles?.admin" mat-list-item [routerLink]="'/admin/wedstrijden'" routerLinkActive="active" (click)="sidenav.toggle()" class="admin-link">
          <mat-icon matListIcon>view_list</mat-icon>
          <span>Wedstrijden</span>
        </a>

        <a *ngIf="!(user$ | async)" mat-list-item [routerLink]="'/auth/login'" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon matListIcon>vpn_key</mat-icon>
          <span>Inloggen</span>
         </a>
        <a *ngIf="!(user$ | async)" mat-list-item [routerLink]="'/auth/registreer'" routerLinkActive="active" (click)="sidenav.toggle()">
          <mat-icon matListIcon>account_circle</mat-icon>
          <span>Registreer</span>
        </a>
        <a *ngIf="user$ | async" mat-list-item (click)="logout()">
          <mat-icon matListIcon>logout</mat-icon>
          <span>Uitloggen</span>
        </a>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxLayout fxLayoutAlign="center baseline" style="margin:0 1rem 0 2rem; ">
          <!-- <mat-icon style="font-size: 3rem;"  aria-hidden="false" aria-label="Example home icon">sports_soccer</mat-icon> -->
          <img src="/assets/images/football.png" style="height:45px;width:45px;">
        </span>
        <span >EK 2021 Prono</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner>
  <h3 style="color:white;">Laden...</h3>
</ngx-spinner>


