<mat-card>
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Wachtwoord resetten</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="submit()" fxLayout fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutGap="12px" fxFlex="100%" fxFlex.gt-xs="520px">
        <mat-form-field appearance="outline">
          <mat-label>Wachtwoord</mat-label>
          <input type="password" #password matInput formControlName="password">
          <mat-icon matSuffix>password</mat-icon>
          <mat-error *ngIf="passwordForm.controls.password.errors?.required">Verplicht veld</mat-error>
          <mat-error *ngIf="passwordForm.controls.password.errors?.minlength">Wachtwoord moet uit minstens 8 karakters bestaan</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Herhaal wachtwoord</mat-label>
          <input type="password" matInput formControlName="confirmPassword">
          <mat-icon matSuffix>password</mat-icon>
          <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.required">Verplicht veld</mat-error>
          <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.mustMatch">Wachtwoorden komen niet overeen</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Opslaan</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

