table {


    // @media only screen and (min-width: 600px) {
    //   width:80%;
    //   margin:auto;
    // }

    // @media only screen and (min-width: 960px) {
    //   width: 800px;
    //   margin:auto;
    // }

    width: 100%;
    margin:auto;

    td{
      padding:16px 8px;
    }

    th{
      padding-left:8px;
    }

    tr:hover {
      background: rgb(77, 77, 77);
    }

  }

  mat-card-header {
    margin-bottom: 1rem;
  }
