@import '../../../variables';

table {

    width: 100%;
    margin:auto;

    td{
      padding:16px 8px;
    }

    th{
      padding-left:8px;
    }

    .match-played {
      background-color: rgb(18, 70, 18);
    }

    .match-played:hover {
      background-color: rgb(21, 85, 21);
    }


    tr:hover {
      background: rgb(77, 77, 77);
    }

    span.points {
      font-size:1.1rem;
      padding: 4px;
      border-radius: 12px;
      text-align: center;
      color:black;
      width:25px!important;
    }

    .bronze {
      background-color:#CD7F32;
    }
    .silver{
      background-color:#c0c0c0;
    }
    .gold {
      background-color:#ffd700;
    }
    .white {
      background-color: white;
    }



  }

  .table-small {


    td{
      padding:10px 8px;
      position:relative;
      cursor:pointer;

      span.points {
        position:absolute;
        bottom: 12px;
        left:12px;
        // font-size:1.3rem;
        // padding: 6px;
        // border-radius: 12px;
        // text-align: center;
        // color:black;
        width:25px;
      }

      span.match-alert {
        position:absolute;
        bottom: 12px;
        left:6px;
        border: 1px solid red;
        border-radius: 15px;
        padding:4px;
        background-color: red;
        font-size: 0.7rem;
      }

      .bronze {
        background-color:#CD7F32;
      }
      .silver{
        background-color:#c0c0c0;
      }
      .gold {
        background-color:#ffd700;
      }
      .white {
        background-color: white;
      }
    }

  }

  mat-card-header {
    margin-bottom: 1rem;
  }


