<mat-card>
  <mat-card-header>
    <mat-card-title>Wedstrijd wijzigen</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="matchForm">
    <form [formGroup]="matchForm" (ngSubmit)="submit()" fxLayout fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutGap="12px" fxFlex="100%" fxFlex.gt-xs="520px">

        <mat-form-field appearance="outline">
          <mat-label>Datum en uur</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker"  formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [defaultTime]="[18,00,00]">
            <!-- Custom icon or text of Apply icon -->
            <ng-template>
              <!-- <mat-icon>star</mat-icon> -->
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Toernooifase</mat-label>
          <mat-select formControlName="stage">
            <mat-option *ngFor="let stage of getKeys(stages)" [value]="stage">{{stages[stage]}}</mat-option>
          </mat-select>
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Thuisploeg</mat-label>
          <mat-select formControlName="homeTeamId">
            <mat-optgroup *ngFor="let group of teamsByGroup | keyvalue" [label]="'Groep ' + group.key">
              <mat-option *ngFor="let team of group.value" [value]="team.id">
                <span fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                  <img [src]="team.url" style="width:25px; height:25px;">
                  <span>{{team.name}}</span>
                </span>
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Uitploeg</mat-label>
          <mat-select formControlName="awayTeamId">
            <mat-optgroup *ngFor="let group of teamsByGroup | keyvalue" [label]="'Groep ' + group.key">
              <mat-option *ngFor="let team of group.value" [value]="team.id">
                <span fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                  <img [src]="team.url" style="width:25px; height:25px;">
                  <span>{{team.name}}</span>
                </span>
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Score thuisploeg</mat-label>
          <input type="number" matInput formControlName="homeTeamScore">
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Score uitploeg</mat-label>
          <input type="number" matInput formControlName="awayTeamScore">
          <mat-error >Verplicht veld</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!matchForm.valid">Opslaan</button>
        <button mat-raised-button color="warn" type="button" holdable (holdTime)="holdHandler($event)">Verwijderen</button>
        <mat-progress-bar mode="determinate" color="warn" [value]="deleteProgress"></mat-progress-bar>
      </div>

    </form>
  </mat-card-content>
</mat-card>
