/* You can add global styles to this file, and also import other style files */
@import './variables';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img {
  border-radius: 50%;
}

.dialog-background {
  background-color: rgba($primary, 0.8);
}


